@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  body {
    @apply min-h-screen bg-gray-50 dark:bg-gray-900;
  }
}

@layer components {
  .card {
    @apply bg-white dark:bg-gray-800 rounded-lg shadow-md overflow-hidden;
  }

  .card-header {
    @apply p-4 border-b border-gray-200 dark:border-gray-700;
  }

  .card-body {
    @apply p-4;
  }
}
